<a href="https://colab.research.google.com/github/vannguyenhoai43-hash/ecommerce-category-growth-analysis/blob/main/notebooks/00_load_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 00_load_data (Data đã được xử lý bằng SQL)

Dữ liệu sử dụng trong project này đã được:
- Làm sạch
- Chuẩn hoá
- Tổng hợp theo theo các tháng

toàn bộ bằng SQL trước khi đưa vào Python.

Notebook này chỉ thực hiện:
- Load dữ liệu đầu vào
- Kiểm tra cấu trúc dữ liệu
- Chuẩn bị dataframe dùng cho các notebook phân tích

B1: Import Thư viện

In [1]:
import pandas as pd
import numpy as np

B2: Load data

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
path_lv2   = "/content/drive/MyDrive/python/Quick_Report/Data_by_Month/Sep/data_by_level2.csv"
path_items = "/content/drive/MyDrive/python/Quick_Report/Data_by_Month/Sep/data_by_item.csv"

df_source_lv2   = pd.read_csv(path_lv2)
df_source_items = pd.read_csv(path_items)

Lọc data theo tháng hiện tại

In [6]:
df_cur_items = df_source_items[df_source_items['year_month'] == '2024-09']

In [7]:
df_cur_lv2 = df_source_lv2[df_source_lv2['year_month'] == '2024-09']

Kiểm tra nhanh dữ liệu

In [9]:
df_cur_items.head()

,year_month,shop_id,item_id,item_name,level1_kpi_category,level2_kpi_category,ADO_M,AdGMV_M,ADO_M_1,AdGMV_M_1
4,2024-09,90668226,10000500212,Kính lúp đa năng - Có tay kẹp,Tools & Home Improvement,Large tools and equipment,0.051111,0.394361,0.004032,0.141497
12,2024-09,17469488,10001604137,Gương Cầu Chiếu Hậu Xe Máy Chân 10ly Hàng Đẹp ...,Automotive,Motorbike Accessories,1.533333,2.935698,0.732258,1.779260
15,2024-09,17469488,10001605847,Mui Rùa Lót Đuôi Trong xe DREAM TD Cao Cấp [D...,Automotive,Auto Parts & Spares,0.051111,0.111004,0.198194,0.611663
18,2024-09,17469488,10001607397,Cặp Inox Bảo Vệ Lốc Máy TD Lắp Dream Việt Hàng...,Automotive,Motorbike Spare Parts,0.083148,0.630599,0.138810,0.757778
22,2024-09,3075268,10002273942,Miếng chống trượt trên taplo xe hơi,Automotive,Interior Accessories,0.389760,0.812665,NaN,NaN

In [10]:
df_cur_items.shape

(96631, 10)

In [11]:
df_cur_items.isna().sum()

year_month                 0
shop_id                    0
item_id                    0
item_name                  0
level1_kpi_category        0
level2_kpi_category        0
ADO_M                      0
AdGMV_M                    0
ADO_M_1                28048
AdGMV_M_1              28048
dtype: int64